/* Write your global styles here, in PostCSS syntax */
@import 'tailwindcss';
@plugin 'flowbite/plugin';
@custom-variant dark (&:where(.dark, .dark *));

@config "../tailwind.config.ts";
@source "../src/**/*";
@source "../node_modules/flowbite-svelte/dist/**/*";

body {
  @apply flex flex-col items-center;

  font-family: Roboto, 'Noto Sans JP', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#root {
  @apply w-full max-w-7xl;
}
